<launch>
    <!-- Guidance Law Choice -->
    <arg name="guidanceOn" default="true"/>
    <arg name="GL" default="OEHG_test"/>

    <!-- Use RTK -->
    <arg name="useRTK" default="false"/>

    <!-- Core arguments -->
    <arg name="expectedSpeed" default="1.0"/>
    <arg name="takeoffHeight" default="35.0"/>
    <arg name="targetHeight" default="0.0"/>
    <arg name="yawDegNED" default="270.0"/>
    <arg name="guidanceLength" default="45.0"/>

    <!-- UAV arguments -->
    <arg name="hoverThrottle" default="31.4"/>
    <arg name="rollSaturationDeg" default="10"/>
    <arg name="pitchSaturationDeg" default="10"/>

    <!-- Safety Module arguments -->
    <arg name="safetyMinHeight" default="3.0"/>
    <arg name="safetyMaxHeight" default="45.0"/>
    <arg name="safetyMinDescendHeight" default="20.0"/>
    <arg name="safetyMaxDescendVelocity" default="8.0"/>
    <arg name="safetyMaxAscendVelocity" default="8.0"/>
    <arg name="safetyDistance" default="0.5"/>
    <arg name="safetyMaxSpeed" default="12.0"/>

    <!-- TAKEOFF OR NOT -->
    <arg name="takeoff" default="false"/>

    <!-- Execution arguments -->
    <arg name="tStep" default="0.08"/>
    <arg name="tUpperLimit" default="100"/>

    <!-- Measurement arguments -->
    <arg name="outliers" default="false"/>
    <arg name="timeDelay" default="0.15"/>
    <arg name="useCamera" default="false"/>

    <!-- Throttle Test arguments -->
    <arg name="throttleTestOn" default="true"/>
    <arg name="throttleTestHeight" default="35.0"/>
    <arg name="throttleTestChangeTime" default="0.5"/>
    <arg name="throttleTestMin" default="25.0"/>
    <arg name="throttleTestMax" default="40.0"/>

    <param name="guidanceOn" value="$(arg guidanceOn)"/>
    <param name="GL" value="$(arg GL)"/>

    <param name="useRTK" value="$(arg useRTK)"/>

    <param name="expectedSpeed" value="$(arg expectedSpeed)"/>
    <param name="takeoffHeight" value="$(arg takeoffHeight)"/>
    <param name="targetHeight" value="$(arg targetHeight)"/>
    <param name="yawDegNED" value="$(arg yawDegNED)"/>
    <param name="guidanceLength" value="$(arg guidanceLength)"/>

    <param name="hoverThrottle" value="$(arg hoverThrottle)"/>
    <param name="rollSaturationDeg" value="$(arg rollSaturationDeg)"/>
    <param name="pitchSaturationDeg" value="$(arg pitchSaturationDeg)"/>

    <param name="safetyMinHeight" value="$(arg safetyMinHeight)"/>
    <param name="safetyMaxHeight" value="$(arg safetyMaxHeight)"/>
    <param name="safetyMinDescendHeight" value="$(arg safetyMinDescendHeight)"/>
    <param name="safetyMaxDescendVelocity" value="$(arg safetyMaxDescendVelocity)"/>
    <param name="safetyMaxAscendVelocity" value="$(arg safetyMaxAscendVelocity)"/>
    <param name="safetyDistance" value="$(arg safetyDistance)"/>
    <param name="safetyMaxSpeed" value="$(arg safetyMaxSpeed)"/>

    <param name="takeoff" value="$(arg takeoff)"/>

    <param name="tStep" value="$(arg tStep)"/>
    <param name="tUpperLimit" value="$(arg tUpperLimit)"/>

    <param name="outliers" value="$(arg outliers)"/>
    <param name="timeDelay" value="$(arg timeDelay)"/>
    <param name="useCamera" value="$(arg useCamera)"/>

    <param name="throttleTestOn" value="$(arg throttleTestOn)"/>
    <param name="throttleTestHeight" value="$(arg throttleTestHeight)"/>
    <param name="throttleTestChangeTime" value="$(arg throttleTestChangeTime)"/>
    <param name="throttleTestMin" value="$(arg throttleTestMin)"/>
    <param name="throttleTestMax" value="$(arg throttleTestMax)"/>

    <node name="observability_enhancement" pkg="observability_enhancement" type="TestRun.py" output="screen"/>

    <arg name="mode" default="track"/>

    <param name="mode" value="$(arg mode)"/>

    <node name="dji_gimbal_control" pkg="observability_enhancement" type="GimbalControl.py" output="log"/>

</launch>